[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
speedtest-cli = "*"
fpdf = "*"
pysimplegui = "*"
keyring = "*"
ifcfg = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pyinstaller = "*"

[requires]
python_version = "3"
